set t_Co=256
set nocompatible

filetype off

""" This enables vundle if you want it
set rtp+=~/.vim/bundle/Vundle.vim

call vundle#begin()

{% for plugin in vim.plugins %}
Plugin '{{ plugin }}'
{% endfor %}

call vundle#end()

filetype plugin indent on

{% for option in vim.options %}
    set {{ option }}
{% endfor %}

colo {{ vim.color_scheme }}

syntax on

nmap ; :
